# ENV
.env
.env.*

# Node backend
api/node_modules/

# React Native / Expo
MonApp/node_modules/
MonApp/.expo/
MonApp/.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
